<?php

# Add your Authorization ID and API key here.
$config['authorization_id'] = '';
$config['api_key'] = '';


# These values are provided to you by Floorplanner. Please contact 
# Floorplanner if you did not recieve these values. 
# Floorplanner needs to now to what URL you should be redirected after 
# Floorplanner account holders authorize your website to access their 
# account.


# This scenario is currently hosted for you to try on:
# http://gvr.vanbergen.org/floorplanner-api/

?>